<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FlowExec.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FlowExec.Properties.Settings>
            <setting name="Theme" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="HomeTilde" serializeAs="String">
                <value>True</value>
            </setting>
        </FlowExec.Properties.Settings>
    </applicationSettings>
</configuration>